@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-body {
  @apply dark:text-white dark:bg-Gray1;
}

.collection-body {
  @apply dark:bg-gradient-to-t from-Gray5 to-Gray4;
}

.slick-slide > div {
  margin: 0 15px;
}

.slick-arrow:before{
  background-color: #2C9CF0;
  padding: 12px 7px;
}

.slick-arrow{
  /* background-color: green;
  padding: 10px; */
}

.preBtn {
  display: flex;
  color: red;
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
  background-color: black;
}


